{% extends "base.html" %}
{% block content %}
<div class="feed">
  <div class="notpost">
    <div id='top-portion-border'>

      <form action="" method="post" enctype="multipart/form-data">
        <table>
          <input type="text" name="email" placeholder="Email" class="log-in form-control"/>
          <input type="password" name="password" placeholder="Password" class="log-in form-control"/>
          <input type="submit" name="signup" value="sign up" class="btn btn-primary" id="submit"/>
        </table>
      </form>
   </div>
    <div class="account-center-new">
          <div id="account-center-text">

    Have an account?
    </div>
    <a href="{{ url_for('accounts.show_accounts_login') }}">Log in</a></div>

  </div><!-- notpost -->
</div><!-- feed -->
{% endblock %}
